<h1>Welcome, Randi!</h1><hr>

<% User.all.each do |user| %>
  <% if user.admin? != true %>
    <h3><%= user.name %> (<%= user.email %>) from <%= user.high_school %>, class of <%= user.grad_year %></h3>
    <% user.schools.each do |school| %>
      <p><%= school.name %></p>
    <% end %>
    <hr>
  <% end %>
<% end %>
