<h1>Welcome, student!</h1>
<h3><%= current_user.high_school %>, class of <%= current_user.grad_year %></h3>

<h2>Your schools</h2>
<% if current_user.schools.length > 0 %>
  <ul>
    <% current_user.schools.each do |school| %>
      <li><%= school.name %>, <%= school.id %></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't decided to apply to any schools</p>
<% end %>

<h2>All schools</h2>
  <% School.all.each do |school| %>
    <p><%=school.name %>, <%= school.id %> | <%= link_to 'Apply here', {:controller => 'applyings', :action => 'apply_here', :school_id => school.id, :name => school.name}, :method => :get %>
    </p>
  <% end %>

<h2> Add a school </h2>
<% School.new do |school| %>
  <%= form_for(school) do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_area :name %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>
