<h1>Welcome, <%= current_user.name %>!</h1>
<p><%= current_user.high_school %>, class of <%= current_user.grad_year %></p>

<% if current_user.schools.length > 0 %>
  <h2>You're applying to these schools:</h2>
  <ol>
  <% current_user.schools.each do |school| %>
    <li><%= link_to school.name, school_path(school) %></li>
    <ul><% school.prompts.each do |prompt| %>
      <li><%= prompt.question %></li>
    <% end %></ul>
  <% end %>
  </ol>

  <h2>Apply to more schools</h2>
<% else %>
  <h2>Pick some schools to apply to!</h2>
<% end %>
  <% School.all.each do |school| %>
    <% if !current_user.schools.find_by id: school.id %>
      <p><%= school.name %> | <%= link_to 'Apply here', {:controller => 'applyings', :action => 'apply_here', :school_id => school.id}, :method => :get %>
      </p>
    <% end %>
  <% end %>

<h3>Don't see what you're looking for?</h3>
<p>Add the full name of the school below and then click apply in the list above</p>
<% School.new do |school| %>
  <%= form_for(school) do |f| %>
    <p>
      <%= f.label 'Name:' %>
      <%= f.text_field :name %>
      <%= f.submit 'Add school'%>
    </p>
  <% end %>
<% end %>
