<h1><%= @school.name %></h1>

<% if user_signed_in? && current_user.admin? %>
  <%= render :partial => 'admin' %>
<% elsif user_signed_in? && !current_user.admin? %>
  <% if !current_user.schools.find_by id: @school.id %>
    <h2><%= link_to 'Apply here', {:controller => 'applyings', :action => 'apply_here', :school_id => @school.id}, :method => :get %></h2>
  <% end %>
  <%= render :partial => 'student' %>
<% end %>

<p><%= link_to '<< GO HOME', root_url %></p>

<% if user_signed_in? && current_user.admin? %>
  <h2>Students applying here:</h2>
  <% if @school.users.length > 0 %>
    <ul>
      <% @school.users.each do |user| %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    </ul>
  <% else %>
    <p><i>No one has yet chosen to apply here</i></p>
  <% end %>
<% end %>

<h2>Essay prompts</h2>
<% if @school.prompts.length == 0 %>
  <p><i>You haven't added any prompts for this school</i></p>
<% end %>

<% @school.prompts.each do |prompt| %>
  <p>
    <strong><%= prompt.question %></strong>
  </p>
  </br>
<% end %>
